@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.left-links, .right-links{
  display: flex;
}

.footer{
  background-color: #eeeeee;
} 
.content{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  padding: 8px 16px;
}
a{
  color: #666;
  text-decoration: none;
}
ul{
  display: flex;
  list-style: none;
  gap:16px;
  margin:0;
  padding:0;
}